<div class="home-page">
    <div class="container-head">
        <h1>Welcome! Manage Your Notes</h1>
    </div>
    <div class="add-note">
        <button class="btn btn-primary" (click)="toggleCreateForm()">Add Note</button>
        <div *ngIf="showCreateForm">
            <app-note-create></app-note-create>
        </div>
        <div class="container-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let note of note">
                        <td>{{ note.title }}</td>
                        <td>{{ note.content }}</td>
                        <td>
                            <button class="btn btn-primary">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>