<app-navbar></app-navbar>
<div class="container">
    <div *ngIf="createFormSuccess" class="success-message">
        <i class="pi pi-check"></i>
        <p>{{ createFormMessage }}</p>
    </div>
    <div *ngIf="!createFormSuccess && createFormError" class="error-message-top">
        <i class="pi pi-times"></i>
        <p>{{ createFormMessage }}</p>
    </div>
    <div class="note-form">
        <form #notebookForm="ngForm" (ngSubmit)="onSubmit(notebookForm)">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" ngModel #title="ngModel" required minlength="3"
                    maxlength="100">
                <div class="error" *ngIf="title.invalid && (title.dirty || title.touched)">
                    Title must be between 3 and 100 characters.
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" ngModel #description="ngModel" rows="6" required
                    minlength="10" maxlength="1000"></textarea>
                <div class="error" *ngIf="description.invalid && (description.dirty || description.touched)">
                    Content must be between 10 and 1000 characters.
                </div>
            </div>
            <div class="form-group">
                <label for="Author">Author</label>
                <input type="text" id="author" name="author" ngModel #author="ngModel" required minlength="3"
                    maxlength="100">
                <div class="error" *ngIf="author.invalid && (author.dirty || author.touched)">
                    autghor must be between 3 and 100 characters.
                </div>
            </div>
            <button type="submit" class="create-button" [disabled]="notebookForm.invalid">Create</button>
        </form>
    </div>
</div>